<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--服务器名称-->
    <add key="SoftName" value="社会联动服务器" />
    <add key="DBConnectStr" value="Data Source=117;User ID=njitfc;Password=njitfc" />
    <!--120业务服务器IP地址-->
    <add key="BSSServerIP" value="192.168.10.192" />
    <!--120业务服务器监听端口-->
    <add key="BSSServerPort" value="1003" />
    <!--与120业务服务器连接的本地端口-->
    <add key="BSSLocalPort" value="10000" />
    <!--与GPS业务服务器连接的本地端口-->
    <add key="GPSLocalPort" value="10001" />
    <!--QueryInterval秒-->
    <add key="QueryInterval" value="10" />
    <!--本地单位编号-->
    <add key="LocalUnitCode" value="000000" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>